.sub-header {
    text-align: center;
    color: white;
    background-color: #333A40;
    padding: 20px;
}

.body-text {
    padding: 20px 150px;
    font-size: 20px;
}

.socials-wrapper {
    text-align: center;
}

.socialcolumn {
    float: left;
    width: auto;
    height: auto;

}

.column {
    float: left;
    width: auto;
    height: auto;
    text-align: left;

}

.ec-column {
    float: left;
    width: 500px;
    height: auto;
    text-align: left;

}

.podcast-column {
    float: left;
    width: 50%;
    height: auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 0;
    }

.row::after {
    content: "";
    clear: both;
    display: table;
    }



.icontext {
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}

h2 {
    padding-top: 50px;
    padding-left: 10px;
}
